html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@font-face {
	font-family: 'Press Start';
	src: url("/fonts/Press_Start_2P/PressStart2P-Regular.ttf") format('truetype');
}

.page-header {
	font-family: Press Start;
	font-size: 100px;
}

.section-header {
	font-family: Press Start;
	font-size: 26px;
}

.body-text {
	line-height: 140%;
	font-family: Press Start;
	font-size: 12px;
}

.secondary-text {
	font-family: Press Start;
	font-size: 8px;
}

.nav-main-link {
	font-family: Press Start;
	font-size: 14px;
}

.nav-sub-link {
	font-family: Press Start;
	font-size: 14px;
}

.footer-header {
	font-family: Press Start;
	font-size: 14px;
}

.footer-link {
	font-family: Press Start;
	font-size: 14px;
}

.nav-logo {
	font-family: Press Start;
	font-size: 22px;
}
